
  
  body {
    background: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%;
}



.bloodbox
{
    position: absolute;
    margin: 0%;
    width: 100%; 
    height: 100%; 
    background: #e00917; 
    animation: slideDownFade 12s forwards, colourChange 14s forwards;


}
.blood img
{
    position: absolute;
    top: -100%;
    right: 0px;
    width: 100%;
    max-height: 100%;
    animation: slideDown 12s;
}


.original
{
    margin-top: 20%;
}

.original img
{
  max-width: 80%;
  display: block;
  margin:auto;
  margin-bottom: 0%;
}

@keyframes slideDown {
   0% {
       transform: translate(0px, -200vh);
   }

   100% {
       transform: translate(0px, 200vh);
   }
}

@keyframes slideDownFade {
    0%{left: 0%; top: -390vh;}

    100% { left: 0%; top: 0%; }
    
 }

 @keyframes colourChange{
    75% {background-color: #e00917;}
    100% {background-color: black;}
    
 }

 a{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  display: block;
  margin: 1em;
  text-align: center;
}